@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}


a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}
input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	}

/*--------------------*/
@font-face {
  font-family: "Gilroy-SemiBold";
  src: url("../fonts/gilroy-semibold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff"), url("../fonts/gilroy-semibold.ttf") format("truetype"), url("../fonts/gilroy-semibold.svg#gilroy-semibold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/gilroy-bold.eot");
  /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg");
  /* Chrome < 4, Legacy iOS */
}
body.lock{
	overflow: hidden;
}
a {
  color: black;
}

.wrapper {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background: url("../img/man.svg") right 220px, url("../img/rain.svg") center 701px, url("../img/rain2.svg") left 1700px no-repeat, linear-gradient(200.26deg, #3B1D60 1.22%, #040D3E 35%, #0F1144 100%);
  background-repeat: no-repeat;
  background-size: auto;
}
@media (max-width: 1370px) {
  .wrapper {
    background: url("../img/man.svg") right 220px/50% no-repeat, url("../img/rain.svg") center 701px no-repeat, linear-gradient(200.26deg, #3B1D60 1.22%, #040D3E 35%, #0F1144 100%);
  }
}
@media (max-width: 1100px) {
  .wrapper {
    background: none, url("../img/rain.svg") center 701px no-repeat, linear-gradient(200.26deg, #3B1D60 1.22%, #040D3E 35%, #0F1144 100%);
  }
}

.container__top {
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 165px;
}
@media (max-width: 992px) {
  .container__top {
    padding-bottom: 100px;
  }
}
@media (max-width: 576px) {
  .container__top {
    padding-bottom: 75px;
  }
}

.header {
  padding-top: 80px;
  margin-bottom: 130px;
}
@media (max-width: 1100px) {
  .header {
    padding-top: 50px;
    margin-bottom: 80px;
  }
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 60px;
  }
}

.header__navigation {
  display: flex;
  justify-content: space-between;
}

.header__flex-left {
  display: flex;
  align-items: center;
  z-index: 5;
  margin-right: 44px;
}

.header__main-logo {
  
}

.header__nav-list {
  display: flex;
  gap: 20px;
  font-family: Gilroy-SemiBold;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.header__nav-list a {
  color: #B5B5B5;
}
.header__nav-list a:hover {
  color: #858585;
}

.menu__icon {
  display: none;
}
.menu__body{
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.menu__list{
	display: flex;
	align-items: center;
}

.header__flex-right {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.header__button {
  width: 112px;
  height: 36px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F2994A;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
  border-radius: 3px;
  font-family: Rubik;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.button:hover {
  border: 1px solid #F2994A;
  border-radius: 4px;
  background-clip: text;
  -webkit-background-clip: text;
  color: #F2994A;
  box-shadow: 0px 0px 0px rgba(242, 153, 74, 0.13);

}
.button-fon{
	display: flex;
	justify-content: center;
	align-items: center;
	 border: 1px solid #F2994A;
	border-radius: 4px;
	background-clip: text;
	-webkit-background-clip: text;
	color: #F2994A;
	box-shadow: 0px 0px 0px rgba(242, 153, 74, 0.13); 
	font-family: Rubik;
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
}
.button-fon:hover{
	background: #F2994A;
	box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.13);
	border-radius: 3px;
	color: #FFFFFF; 

}
@media (max-width: 767px) {
	.header{
		padding-top: 30px;
	}
	.menu__icon {
		z-index: 5;
	  display: block;
	  position: relative;
	  width: 30px;
	  height: 18px;
	  cursor: pointer;
	  margin-right: 15px;
		margin-top: 8px;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after{
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #F2994A;
	}
	.menu__icon::before,
	.menu__icon::after{
		content: "";
	}
	.menu__icon::before{
		top: 0;
	}
	.menu__icon::after{
		bottom: 0;
	}
	.menu__icon span{
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}
	.menu__icon.active span{
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon.active::before{
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon.active::after{
		top: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}
	.menu__body{
		z-index: 2;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.95);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		flex-direction: column;
		justify-content: flex-start;
		overflow: auto;
	}
	.menu__body.active{
		left: 0;
	}
	.menu__body::before{
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: -100%;
		height: 90px;
		background: black;
		transition: left 0.3s ease 0s;
	}
	.menu__body.active::before{
		left: 0;
	}
	.menu__list{
	 display: flex;
	 align-items: flex-start;
	 margin-bottom: 30px;
	}
	.header__nav-list{
		flex-direction: column;
		font-size: 30px;
		margin-top: 40px;
	}
	.header__nav-list li{
		margin-bottom: 40px;
	}
	.header__nav-list li:last-child{
		margin-bottom: 20px;
	}
	.header__main-logo{
		margin-left: 15px;
	}
	.header__flex-right{
		display: block;
	}
	.header__button{
		width: 200px;
		height: 48px;
		margin-bottom: 30px;
	}

 }
.business {
  max-width: 540px;
  margin-bottom: 105px;
}
@media (max-width: 1100px) {
  .business {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .business {
    margin-bottom: 75px;
  }
}

.business__title {
  font-family: Inter;
  font-weight: bold;
  font-size: 44px;
  line-height: 50px;
  color: #99EFD0;
  margin-bottom: 19px;
}
@media (max-width: 1100px) {
  .business__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .business__title {
    font-size: 36px;
  }
}

.business__text {
  font-family: Gilroy-SemiBold;
  font-size: 18px;
  line-height: 22px;
  color: #8476AA;
  margin-bottom: 40px;
  max-width: 470px;
}
@media (max-width: 1100px) {
  .business__text {
    max-width: 100%;
    text-align: center;
  }
}

.business__block-button {
  display: flex;
  margin-bottom: 60px;
}
@media (max-width: 1100px) {
  .business__block-button {
    justify-content: center;
  }
}

.business__button {
  width: 157px;
  height: 46px;
  margin-right: 20px;
}
.business__button:last-child{
	margin-right: 0;
}
@media (max-width: 576px) {
  .business__button {
    width: 50%;
	 margin-right: 15px;
  }
}

.business__block-video {
  display: flex;
}

.video__block-text {
  margin: 4px 0 4px 20px;
  font-family: Rubik;
}

.video__text {
  font-size: 16px;
  line-height: 22px;
  color: #8476AA;
  margin-bottom: 6px;
}

.video__preview {
  font-size: 14px;
  line-height: 22px;
  color: #6D6D78;
}
.video__preview:hover {
  color: #595963;
  text-decoration: underline;
}
@media (max-width: 1100px) {
  .video__preview {
    align-self: start;
  }
}

.business__icon-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  margin: 0 30px 105px;
}
@media (max-width: 1100px) {
  .business__icon-links {
    grid-template-columns: repeat(3, 1fr);
    row-gap: 40px;
  }
}
@media (max-width: 768px) {
  .business__icon-links {
    margin-bottom: 75px;
  }
}
@media (max-width: 576px) {
  .business__icon-links {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin: 0 0 75px;
  }
}

.icon-link {
  opacity: 0.6;
}
.icon-link:hover {
  opacity: 0.85;
}

.choice {
  max-width: 1000px;
  margin: 0 auto;
}

.choice__header {
  margin-bottom: 50px;
}

.choice__title {
  text-align: center;
  margin-bottom: 13px;
}

.main__title {
  font-family: Inter;
  font-weight: bold;
  font-size: 42px;
  line-height: 50px;
  color: #99EFD0;
}
@media (max-width: 576px) {
  .main__title {
    font-size: 34px;
  }
}

.choice__subtitle {
  text-align: center;
}

.main__subtitle {
  font-family: Gilroy-SemiBold;
  font-size: 16px;
  line-height: 22px;
  color: #8476AA;
}

.choice__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .choice__cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .choice__cards {
    grid-template-columns: 1fr;
  }
}

.choice__card {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  column-gap: 28px;
  row-gap: 10px;
  padding: 10px 10px;
}
.choice__card:hover {
  background: #110f3b;
  border-radius: 8px;
  transition: all 0.2s;
}

.card__icon {
  grid-row: 1/3;
}

.card__title {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: #99EFD0;
  align-items: start;
}

.card__text {
  font-family: Gilroy-SemiBold;
  font-size: 14px;
  line-height: 22px;
  color: #8476AA;
}

.container__main {
  max-width: 950px;
  margin: 0 auto;
}

.traffic {
  display: flex;
  gap: 60px;
  margin-bottom: 200px;
}
@media (max-width: 992px) {
  .traffic {
    margin-bottom: 100px;
  }
}
@media (max-width: 768px) {
  .traffic {
    flex-direction: column;
    align-items: center;
  }
}

.traffic__left-block {
  margin-top: 50px;
  max-width: 470px;
}
@media (max-width: 992px) {
  .traffic__left-block {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .traffic__left-block {
    max-width: 700px;
    text-align: center;
  }
}

.traffic__title {
  margin-bottom: 32px;
}

.title-orange {
  color: #f2994a;
}

.traffic__subtitle {
  margin-bottom: 43px;
  letter-spacing: 0.5px;
  font-size: 15px;
  line-height: 28px;
}

.traffic__button {
  width: 155px;
  height: 48px;
}
@media (max-width: 768px) {
  .traffic__button {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
    height: 54px;
  }
}

.traffic__right-block {
  position: relative;
  height: 400px;
  width: 440px;
}
@media (max-width: 992px) {
  .traffic__right-block {
    margin-left: 250px;
  }
}
@media (max-width: 768px) {
  .traffic__right-block {
    margin-left: 0;
  }
}
@media (max-width: 500px) {
  .traffic__right-block {
    display: none;
  }
}

.traffic__img1 {
  position: absolute;
  right: 49px;
  top: 0;
  z-index: 1;
  width: 286px;
}

.traffic__img2 {
  position: absolute;
  z-index: 2;
  top: 18px;
  right: 209px;
}

.traffic__img3 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.traffic__img4 {
  position: absolute;
  z-index: 2;
  right: 181px;
  bottom: -57px;
}
.traffic__img4:hover {
  opacity: 0.8;
}

.simples {
  margin: 0 auto;
  margin-bottom: 170px;
}
@media (max-width: 768px) {
  .simples {
    margin-bottom: 80px;
  }
}

.simples__title {
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.33px;
  text-align: center;
  margin-bottom: 16px;
}

.simples__main-title {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.33px;
}

.simples__main-subtitle {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  max-width: 410px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.simples__subtitle {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}

.simples__blocks {
  display: flex;
  flex-direction: column;
}

.simples__blocks-content {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .simples__blocks-content {
    flex-direction: column;
    align-items: center;
  }
}

.simples__block-text {
  max-width: 290px;
}
.simples__block-text:nth-child(1) {
  max-width: 200px;
}
.simples__block-text:nth-child(3) {
  max-width: 200px;
}
@media (max-width: 768px) {
  .simples__block-text {
    max-width: 100%;
    margin-bottom: 16px;
  }
  .simples__block-text:nth-child(3) {
    max-width: 100%;
  }
  .simples__block-text:nth-child(1) {
    max-width: 100%;
  }
}

.framework {
  padding-bottom: 400px;
  background: url("../img/circle.png") center no-repeat;
}
@media (max-width: 768px) {
  .framework {
    padding-bottom: 300px;
  }
}
@media (max-width: 576px) {
  .framework {
    background: none;
    padding-bottom: 0;
  }
}

.framework__title {
  margin-bottom: 46px;
  text-align: center;
}

.framework__button {
  width: 164px;
  height: 54px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .framework__button {
    width: 100%;
    max-width: 300px;
  }
}

.invest {
  margin-bottom: 167px;
  display: flex;
  gap: 10%;
  justify-content: space-between;
  position: relative;
}
.invest::after {
  content: "";
  display: block;
  position: absolute;
  right: -250px;
  top: 42px;
  width: 100%;
  height: 100%;
  background: url("../img/map.svg") center right no-repeat;
}
@media (max-width: 1560px) {
  .invest::after {
    content: none;
  }
}
@media (max-width: 768px) {
  .invest {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .invest {
    margin-bottom: 80px;
  }
}

.invest__left-block {
  padding-top: 50px;
  max-width: 470px;
}
@media (max-width: 768px) {
  .invest__left-block {
    text-align: center;
    margin-bottom: 40px;
  }
}

.invest__title {
  margin-bottom: 32px;
}

.invest__subtitle {
  margin-bottom: 46px;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.5px;
}

.invest__button {
  width: 155px;
  height: 54px;
}
@media (max-width: 768px) {
  .invest__button {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
  }
}

.invest__right-block {
  padding-left: 100px;
}
@media (max-width: 1250px) {
  .invest__right-block {
    padding: 0 100px 0 0;
  }
}
@media (max-width: 768px) {
  .invest__right-block {
    padding: 0;
  }
}

.invest__foto-block {
  position: relative;
  z-index: 3;
}

.invest__foto {
  border: 1px solid #E4EBF0;
}

.invest__arrow {
  position: absolute;
  z-index: 2;
  top: 109px;
  right: 216px;
}
.invest__arrow:hover {
  opacity: 0.8;
}

.invest__content {
  background: #FFFFFF;
  box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
  border-radius: 0 0 10px 10px;
  padding: 20px 30px 0 30px;
  position: relative;
  z-index: 2;
  padding-bottom: 22px;
}

.invest__content-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #212B36;
  margin-bottom: 2px;
}

.invest__content-text {
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #637381;
  margin-bottom: 22px;
}

.invest__content-money {
  font-family: Montserrat;
  font-size: 24px;
  line-height: 29px;
  color: #13C296;
  margin-bottom: 5px;
}

.invest__content-desc {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #98A4AF;
  margin-bottom: 20px;
}

.invest__content-hr {
  width: 100%;
  border: 1px solid #D6DBDF;
  margin: 0 auto 15px;
}

.invest__profit {
  display: flex;
  justify-content: space-between;
}

.invest__profit-title {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #212B36;
}

.invest__profit-subtitle {
  font-family: 'Open Sans';
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #637381;
}

.invest__increase {
  position: absolute;
  z-index: 1;
  top: 246px;
  right: -114px;
  width: 130px;
  height: 65px;
  background: #516EA9;
  box-shadow: -8px 16px 60px rgba(82, 114, 139, 0.24);
  border-radius: 10px;
}
@media (max-width: 1250px) {
  .invest__increase {
    right: -14px;
  }
}
@media (max-width: 768px) {
  .invest__increase {
    display: none;
  }
}

.invest__increase-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 1px;
}

.invest__increase-subtitle {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.8;
  text-align: center;
}

.help {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 85px;
  margin-bottom: 195px;
  position: relative;
}
@media (max-width: 992px) {
  .help {
    flex-direction: column-reverse;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .help {
    margin-bottom: 80px;
  }
}

@media (max-width: 576px) {
  .help__left-block {
    display: none;
  }
}

.help__right-block {
  margin-top: 80px;
}
@media (max-width: 992px) {
  .help__right-block {
    margin: 0;
  }
}

.help__subject {
  margin-bottom: 50px;
}
@media (max-width: 992px) {
  .help__subject {
    text-align: center;
  }
}

.help__title {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
  margin-bottom: 32px;
}

.help__subtitle {
  font-size: 15px;
  line-height: 20px;
}

.help__icon {
  margin-bottom: 20px;
}

.help__subject-flex {
  display: flex;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .help__subject-flex {
    flex-direction: column;
  }
}
.help__subject-flex-one{
	margin-bottom: 60px;
}

.help__feature-title {
  font-family: Inter;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #99EFD0;
  margin-bottom: 8px;
}

.help__feature-subtitle {
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.container__footer {
  margin: 0 auto;
  background: url("../img/form.png") center 580px no-repeat, url("../img/footer.png") bottom center no-repeat;
}
@media (max-width: 992px) {
  .container__footer {
    background: url("../img/footer.png") bottom center no-repeat;
  }
}

.reasons {
  max-width: 940px;
  min-height: 324px;
  background: #171a50;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 160px;
}
@media (max-width: 576px) {
  .reasons {
    padding: 0 15px;
    margin-bottom: 80px;
  }
}

.reasons__title {
  font-family: Rubik;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #F2994A;
  padding-top: 50px;
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .reasons__title {
    padding-top: 25px;
  }
}

.reasons__text {
  font-family: Rubik;
  font-size: 16px;
  line-height: 22px;
  color: #95A1BB;
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 23px;
}

.reasons__subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
}
@media (max-width: 576px) {
  .reasons__subtitle {
    padding-bottom: 15px;
  }
}

.reasons__form {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
@media (max-width: 400px) {
  .reasons__form {
    flex-direction: column;
  }
}

.reasons__input-mail {
  font-family: Inter;
  color: #F6F6F6;
  background: #2f3162;
  border-radius: 5px 0px 0px 5px;
  width: 300px;
  height: 56px;
  padding: 18px;
  font-size: 14px;
}
.reasons__input-mail::placeholder {
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  opacity: 0.2;
}
@media (max-width: 400px) {
  .reasons__input-mail {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
  .reasons__input-mail::placeholder {
    text-align: center;
  }
}

.reasons__input-submit {
  width: 128px;
  height: 56px;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}
.reasons__input-submit:hover {
  border-radius: 0px 5px 5px 0px;
}
@media (max-width: 400px) {
  .reasons__input-submit {
    width: 100%;
    border-radius: 0px 0px 5px 5px;
  }
  .reasons__input-submit:hover {
    border-radius: 0px 0px 5px 5px;
  }
}

.footer {
  margin: 0 auto;
  max-width: 1000px;
  padding: 20px 0 100px;
}
@media (max-width: 576px) {
  .footer {
    padding: 20px 0 40px;
  }
}

.footer__title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 94px;
}
@media (max-width: 576px) {
  .footer__title {
    margin-bottom: 50px;
  }
}

.footer__main-title {
  font-family: Inter;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.325px;
  color: #F2994A;
}

.footer__links {
  display: flex;
}
.footer__link{
	margin-right: 15px;
}
.footer__link:last-child{
	margin-right: 0;
}
.footer__link:hover {
  opacity: 0.8;
}

.footer__items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
  justify-items: center;
  margin-bottom: 120px;
}
@media (max-width: 576px) {
  .footer__items {
    grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    margin-bottom: 60px;
  }
}

.footer__item-title {
  font-family: Inter;
  font-weight: bold;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  margin-bottom: 25px;
}

.footer__item-link {
  font-family: Inter;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  display: block;
  margin-bottom: 16px;
}
.footer__item-link:hover {
  color: #dddcdc;
}

.footer__text {
  display: flex;
  justify-content: center;
}
.footer__text-desc {
  font-family: Inter;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #8D8D8D;
  margin-right: 33px ;
}
.footer__text-desc:last-child{
	margin-right: 0;
}
@media (max-width: 576px) {
  .footer__text-desc {
    text-align: center;
	 margin-right: 10px ;
  }
}

/*# sourceMappingURL=style.css.map */
